body {
	margin: 0px auto;
	padding: 10px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

.centered {
	/* 	display: block; */
	margin: 0px auto;
}

.tcentered {
	/* 	display: block; */
	margin: 0px auto;
	text-align: center;
}

.pageBreakAuto {
	display: block;
	page-break-after: auto;
	page-break-before: auto;
}

.pageBreakAfter {
	display: block;
	page-break-after: always;
}

.startAdjustment {
	height: 450px;
	line-height: 500px;
}