body {
	/*	background: url(/resources/images/backgrounds/bg.png);	*/
	background-color: rgba(85, 142, 213, 1);
	font-family: "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

.errorPanel {
	width: 400px;
	margin: 2px auto;
	padding: 4px
}

.navPanel {
	position: absolute;
	bottom: 0;
	height: 23px;
	margin: 0;
	padding: 2px;
}

.wrapper.footer {
	background-color: rgba(255, 255, 255, 0.6);
}

#header {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	clear: both;
	margin-left: 2px;
	margin-right: 2px;
	padding: 5px;
	width: auto;
}

#sidebar {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	padding: 5px;
	width: 205px;
}

#content {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	margin-left: 220px;
	margin-right: 2px;
	padding: 5px;
}