.pageBreakAuto {
	display: block;
	page-break-after: auto;
	page-break-before: auto;
}

.pageBreakAfter {
	display: block;
	page-break-after: always;
}

.startAdjustment {
	height: 450px;
	line-height: 500px;
}